#Python Basics
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual Environments

.venv/
venv/
env/
.env

#Mac OS Junk

.DS_Store

#Do not upload the dataset

iam_data/

saved_models/
*.pth
*.ckpt
*.safetensors

generated_outputs/

# Training logs
runs/
wandb/
logs/

# Local artifacts
data_inspection.png

#Hugging Face Cache

models/
tokenizers/


#Ignore notebook checkpoint backups

.ipynb_checkpoints/

#IDE Settings

.vscode/
.idea/
