#Core Pytorch ecosystem
torch
torchvision

#Hugging Face ecosystem

transformers
diffusers
accelerate

#Image processing and Visualization

pillow
matplotlib
numpy
tqdm

#Jupyter (for running the notebook)

jupyter
ipykernel

#Dataset
kaggle